@import 'tailwindcss';

/* -=-=-=-=-=-=- Fonts -=-=-=-=-=-=- */
@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/DM Mono.ttf') format('truetype');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/Lato.ttf') format('truetype');
}

/* -=-=-=-=-=-=- Colors -=-=-=-=-=-=- */
@theme {
	--color-primary-100: #eadef8;
	--color-primary-200: #d5bdf1;
	--color-primary-300: #c19cea;
	--color-primary-400: #ac7be3;
	--color-primary-500: #975adc;
	--color-primary-600: #7948b0;
	--color-primary-700: #5b3684;
	--color-primary-800: #3c2458;
	--color-primary-900: #1e122c;

    --color-background: #241F22;

	--font-dmMono: 'DM Mono';
}

/* -=-=-=-=-=-=- Base -=-=-=-=-=-=- */
@layer base {
	span,
	th,
	td {
		@apply text-gray-900 dark:text-white;
	}
}

@layer components {
	.overlay {
		@apply relative;

		&:before {
			content: '';
			@apply absolute inset-0 opacity-0;
			border-radius: inherit;
			background-color: var(--overlay-bg, black);
			opacity: var(--overlay-start-opacity, 0);
		}

		&:hover:before {
			opacity: var(--overlay-end-opacity, 0.1);
		}
	}

	.q-outline {
		box-shadow:
			0px 4px 4px 0px rgba(0, 0, 0, 0.25),
			0px 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
}

@custom-variant dark (&:where(.dark, .dark *));
